body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #3f51b5;
}

.section {
    margin-bottom: 40px;
}

.nav {
    background-color: #3f51b5;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
    width: auto;
    max-height: 100px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 20px;
    background-color: black; /* Add background color */
    border-radius: 8px; /* Slightly round the corners */
    padding: 5px; /* Add some internal padding */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.nav-links a {
    display: flex;
    align-items: center; /* Vertically align text and icon */
    justify-content: center; /* Center content horizontally */
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px; /* Slightly smaller font size */
    margin: 0 5px; /* Space between links */
    flex-grow: 1;
    text-align: center;
    border-radius: 4px; /* Slightly round the corners */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    background-color: #1a237e; /* Change background color on hover */
    transform: translateY(-2px); /* Add a slight lift on hover */
}

.header {
    text-align: center;
    padding: 50px 20px;
    background-color: black;
    color: white;
}

.header p {
    font-size: 18px;
}

.project-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.interactive-image {
    width: 100%; /* Adjust the size as needed */
    max-width: 400px;
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    object-fit: cover;
}

.interactive-image:hover {
    transform: scale(1.05); /* Slightly zooms in the image */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Lightbox effect */
.lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Ensures it appears on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dimmed background */
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.album {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.album-cover {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-cover:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.album-details {
    flex: 1;
}

.album-details h3 {
    margin: 0;
    color: #3f51b5;
}

.tracklist {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    color: #333;
}

.tracklist li {
    margin-bottom: 5px;
}

.music-links a {
    text-decoration: none;
    color: #3f51b5;
    transition: color 0.3s ease;
}

.music-links a:hover {
    color: #1a237e;
}

.education-image {
    width: 400px; /* Set a fixed width for the image */
    height: auto; /* Maintain the aspect ratio */
    float: right; /* This floats the image to the right */
    margin-left: 20px; /* Adds space between the image and the text */
    margin-bottom: 20px; /* Adds space below the image */
    border-radius: 10px; /* Optional: Rounds the corners of the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}
.project h4 {
    color: #3f51b5;
    margin-bottom: 10px;
}

.no-scroll {
    overflow: hidden;
    height: 100%; /* Prevents the body from scrolling */
}

.project p {
    color: #333;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.image-content {
    flex: 1;
    text-align: right; /* Ensure the image aligns to the right */
}

.image-content img {
    max-width: 100%; /* Ensure the image scales within its container */
    height: auto;
    border-radius: 10px; /* Optional: Add some rounding to the image corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow */
}

.ak {
cursor: pointer
}